<h3><span>01</span> Text ads</h3>

<p>Text ads designed with excessive use of colors and/or other elements to grab attention are not permitted.</p>

<h3><span>02</span> Image Ads</h3>

<p>Static image ads may qualify as acceptable, according to an evaluation of their unobtrusiveness based on their integration on the webpage.</p>

<h3><span>03</span> In-feed Ads</h3>

<p>For ads in lists and feeds, the general criteria differ depending on:</p>

<h4>PLACEMENT REQUIREMENTS</h4>

<p>Ads are permitted in between entries and feeds.</p>

<h4>SIZE REQUIREMENTS</h4>

<p>In-feed ads are permitted to take up more space, as long as they are not substantially larger than other elements in the list or feed.</p>

<h3><span>04</span> Search Ads</h3>

<p>For search ads - ads displayed following a user-initiated search query - the criteria differ depending on:</p>

<h4>SIZE REQUIREMENTS</h4>

<p>Search ads are permitted to be larger and take up additional screen space.</p>

<h3><span>05</span> Ads on pages with no primary content</h3>

<p>Only text ads are allowed. For webpages without any primary content (e.g. error or parking pages), the criteria differ depending on:</p>

<h4>PLACEMENT REQUIREMENTS</h4>

<p>No placement limitations.</p>

<h4>SIZE REQUIREMENTS</h4>

<p>No size limitations.</p>
