// Buttons /////////////////////////////////////////////////////////////////////

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-family: $opensans;
  font-weight: normal;
  text-decoration: none;
  background-color: $black;
  border-radius: 5px;
  border-width: 0;
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.25);
}

.button:hover,
.button:active,
.button:focus {
  color: $white;
  text-decoration: none;
}

.button.white {
  color: $green;
  background-color: $white;
}

.button.white:hover,
.button.white:active,
.button.white:focus { color: $green; }

.button.green {
  color: $white;
  background-color: $green;
}

.button.green:hover,
.button.green:active,
.button.green:focus { color: $white; }