<h2>{{ not-considered-heading[Not-considered heading] What is NOT considered an Acceptable Ad? }}</h2>

<dl class="not-acceptable">
  <dt>The following types of ads are currently unacceptable and cannot be considered for inclusion on the whitelist<sup aria-labelledby="whitelist-exception"><a href="#whitelist-exception">1</a></sup>:</dt>
  <dd>Ads that visibly load new ads if the Primary Content does not change</dd>
  <dd>Ads with excessive or non-user-initiated hover effects</dd>
  <dd>Animated ads<sup aria-labelledby="animated-exception"><a href="#animated-exception">2</a></sup></dd>
  <dd>Autoplay-sound or video ads</dd>
  <dd>Expanding ads</dd>
  <dd>Generally oversized image ads</dd>
  <dd>Interstitial page ads</dd>
  <dd>Overlay ads</dd>
  <dd>Overlay in-video ads</dd>
  <dd>Pop-ups</dd>
  <dd>Pop-unders</dd>
  <dd>Pre-roll video ads</dd>
  <dd>Rich media ads (e.g. Flash ads, Shockwave ads, etc.)</dd>
</dl>

<dl class="footnotes2">
  <dt id="whitelist-exception">1</dt>
  <dd>Except when the user intentionally interacts with the ad (e.g. clicks on the ad to see a video ad playing).</dd>
  <dt id="animated-exception">2</dt>
  <dd>With one exception, please see <a href="#mobile-ads">06 Mobile Ads</a>.</dd>
</dl>
