.page-index .masthead .graphics:after {
  background: url("/img/svg/home-masthead.svg") no-repeat transparent;
  height: 110%;
  width: 100%;
  right: 0;
  top: 0;
  background-position: top 100% left 20%;
  background-size: auto 140%;

  @media(min-width: $md-breakpoint) {
    height: 220%;
    width: 220%;
    right: -100%;
    top: -370px;
    background-position: top 100% left 0px;
    background-size: auto 80%;
  }

  @media(min-width: $lg-breakpoint) {
    height: 270%;
    top: -430px;
    background-size: auto 100%;
  }

  @media(min-width: $xl-breakpoint) {
    width: 260%;
    right: -130%;
    top: -240px;
    background-position: top 120% left 20%;
    background-size: auto 130%;
  }
}

.media-items {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: $opensans;
  text-align: center;
  text-transform: uppercase;

  p, ul { margin: 0; }

  li {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  // prevent extra space before section padding-bottom
  li:last-of-type { margin-bottom: 0; }

  img {
    max-width: 50%;

    @media (min-width: $sm-breakpoint) {
      max-width: 70%;
    }
  }

  a:hover img { opacity: .4; }

  a:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    padding: 1em;
    margin-left: -1em;
    margin-top: -1em;
    border-radius: 50%;
    background-color: $black;
    background-image: url(/img/svg/external-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1em;
  }

  @media(min-width: $md-breakpoint) {
    display: table;
    padding-top: 2rem;
    padding-bottom: 2rem;
    vertical-align: middle;

    p, ul {
      display: table-cell;
      vertical-align: middle;
    }

    p {
      min-width: 10rem;
    }

    li {
      display: table-cell;
      padding-left: 1rem;
      padding-right: 1rem;
      vertical-align: middle;
    }
  }

  @media(min-width: $lg-breakpoint) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.advantages {
  text-align: center;

  p {
    font-size: 20px;
    color: $gray;

    @media (min-width: $lg-breakpoint) {
      font-size: 24px;
    }
  }

  .column { margin-top: 2rem; }

  .percent {
    display: block;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    // hiding span text replaced by image below
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .adv-47 { background-image: url("/img/svg/adv_47.svg"); }

  .adv-54 { background-image: url("/img/svg/adv_54.svg"); }
}

.exchange {
  @media(min-width: $md-breakpoint) {
    .column:not(.graphics) {
      padding-top: 3rem;
      padding-bottom: 3rem;

      h2 { margin-top: 0; }
    }
  }

  @media(min-width: $lg-breakpoint) {
    .column:not(.graphics) {
      padding-top: 7rem;
      padding-bottom: 11rem;
    }

    .graphics { height: 600px; }
  }
}

.exchange .graphics:after {
  background: url("/img/svg/water-illustration.svg") no-repeat transparent;
  width: 100%;
  height: 250%;
  left: 0;
  top: 0;
  background-size: auto 100%;
  background-position: 110%;

  @media(min-width: $md-breakpoint) {
    width: 260%;
    height: 160%;
    left: -160%;
    top: -10%;
    background-size: auto 180%;
    background-position: right 10%;
  }
}
