<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="column one-fourth">
        <? include footer/column-1 ?>
      </div>
      <div class="column one-fourth">
        <? include footer/column-2 ?>
      </div>
      <div class="column one-fourth">
        <? include footer/column-3 ?>
      </div>
    </div>
  </div>
</footer>
